/************ global styles ***************/

@font-face {
    font-family: "Iran Yekan";
    src: url("../fonts/light/iran-yekan-light.eot");
    src: url("../fonts/light/iran-yekan-light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/light/iran-yekan-light.woff") format("woff"),
        url("../fonts/light/iran-yekan-light.woff2") format("woff2"),
        url("../fonts/light/iran-yekan-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Iran Yekan";
    src: url("../fonts/normal/iran-yekan-normal.eot");
    src: url("../fonts/normal/iran-yekan-normal.eot?#iefix") format("embedded-opentype"),
        url("../fonts/normal/iran-yekan-normal.woff") format("woff"),
        url("../fonts/normal/iran-yekan-normal.woff2") format("woff2"),
        url("../fonts/normal/iran-yekan-normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Iran Yekan";
    src: url("../fonts/bold/iran-yekan-bold.eot");
    src: url("../fonts/bold/iran-yekan-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/bold/iran-yekan-bold.woff") format("woff"),
        url("../fonts/bold/iran-yekan-bold.woff2") format("woff2"),
        url("../fonts/bold/iran-yekan-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

*,
html,
body {
    letter-spacing: 0.02rem !important;
}

html,
body {
    font-family: Iran Yekan, sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    font-size: .875rem;
    font-weight: 600;
}